/** CSS **/

body {
	padding: 15px 15px 15px 15px;
	background-image: url('nust_bg.jpg');
}

ul,li,ol,p,span {
	color: #cccccc;
	text-align: justify;
}

h1, h2, h3, h4, h5 {
	color: #cccccc;
	padding-top: 20px;
}

h1 {
	color: #0099cc;
	font-size: 24px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 18px;
}

a {
	color: #0099cc;
}


h6.title {
	color: #999999;
	margin: 5px 0 3px 0;
	padding: 0 0 0 0;
}

h6.title span {
	color: #0099cc;
}

img {
	text-align:center;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

div.separator {
	height: 1px;
	background: #666666;
	border-bottom: 1px solid #666666;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}